# Ignorar dependências instaladas
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

# Ignorar arquivos de build
dist
build

# Ignorar arquivos do editor e do sistema
*.swp
*.swo
*.swn
.DS_Store
.vscode
.idea
*.log
